<!-- create a form for POSTS -->

<link rel="stylesheet" href="/assets/css/home.css">

<main>

    <%- include('_newsSection') %>
    
    <section id="middle-home-posts">
    
        <div id="heading">
            <span id="heading-text">Home</span>
        </div>
    
        <div id="new-post">

            <div id="upper">

                <section id="profile-logo"></section>

                <form action="/posts/create-post" method="POST" id="new-post-form">
                    <textarea name="content" id="post-content"" placeholder="Write your post"></textarea>
                    <input type="submit" value="Post" id="post-button">
                </form>

            </div>

            <section id="more-options"></section>

        </div>

        <!-- <span id="post-heading">Posts</span> -->

        <div id="new-feeds">
    
            <%- include('_postContainer') -%>
            
        </div>
    
    </section>

    <%- include('_friendsSection') %>

</main>

<script src="../assets/js/homeScript.js"></script>