<link rel="stylesheet" href="/assets/css/signup.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<!-- <img src="/assets/images/3448789.jpg" alt="background-image" id="bg"> -->

<div id="signup-box">

  <h1 id="heading">Sign up | Codemate</h1>

  <form method="POST" action="/user/create" autocomplete="off">

    <span class="credential">

      <label for="name">Full Name</label>
      <input type="text" name="username" placeholder="Username" id="name" onclick="this.placeholder=''" onblur="this.placeholder='Username'" required/>

    </span>

    <span class="credential">

      <label for="email">Email</label>
      <input type="email" name="email" placeholder="E-mail" id="email" onclick="this.placeholder=''" onblur="this.placeholder='E-mail'" required/>

    </span>

    <span class="credential">

      <label for="date-of-birth">Date of Birth</label>

        <div id="birthday-wrapper">

          <select name="birth_date">

            <optgroup>

              <% for (let i=1; i<=31; i++) { %>
              
                <option value="<%= i %>"><%= i %> </option>
  
              <% } %>

            </optgroup>

          </select>

          <select name="birth_month">

            <optgroup>

              <option value="1">Jan</option>
              <option value="2">Feb</option>
              <option value="3">Mar</option>
              <option value="4">Apr</option>
              <option value="5">May</option>
              <option value="6">Jun</option>
              <option value="7">Jul</option>
              <option value="8">Aug</option>
              <option value="9">Sep</option>
              <option value="10">Oct</option>
              <option value="11">Nov</option>
              <option value="12">Dec</option>

            </optgroup>
  
          </select>
          
          <select name="birth_year">

            <optgroup>

              <% for (let i=2021; i>=1960; i--) { %>
              
                <option value="<%= i %>"><%= i %> </option>
  
              <% } %>

            </optgroup>

          </select>

        </div>

    </span>

    <span class="credential">

      <label for="gender">Gender</label>

      <div id="gender-container">

        <section>

          <input type="radio" name="gender" value="male" id="male" required>
          <label for="male">Male</label>

        </section>

        <section>

          <input type="radio" name="gender" value="female" id="female" required>
          <label for="male">Female</label>  

        </section>

        <section>

          <input type="radio" name="gender" value="others" id="others" required>
          <label for="male">Others</label>

        </section>

      </div>

    </span>

    <span class="credential">

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password" onclick="this.placeholder=''" onblur="this.placeholder='Password'" required/>

    </span>

    <span class="credential">

      <label for="confirm-password">Confirm Password</label>
      <input id="confirm-password" type="password" name="password2" placeholder="Re-enter Password" onclick="this.placeholder=''" onblur="this.placeholder='Re-enter Password'" onkeyup="checkPassword();" required/>

    </span>

    <button type="submit"> Sign Up </button>

  </form>

</div>

<script src="/assets/js/script.js"></script>