<link rel="stylesheet" href="/assets/css/signin.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<!-- <img src="/assets/images/3448789.jpg" alt="background-image" id="bg"> -->

<form method="POST" action="/user/create-session" autocomplete="off">

    <div id="login-box">
        <div class="main">
          <h1>Sign in | Codemate</h1>
          
          <input type="email" name="email" placeholder="Username" onclick="this.placeholder=''" onblur="this.placeholder='Username'"/ required>
          <input type="password" name="password" placeholder="Password" onclick="this.placeholder=''" onblur="this.placeholder='Password'"/ required>
          
          <input type="submit" value="Sign In" />

          <p id="forget-password">
              <a href="">Forget Password ?</a>
          </p>
        </div>
    </div>

</form>