@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none; }

body {
  margin-top: 100px;
  padding: 0; }

#signup-box {
  position: relative;
  height: auto;
  width: 40%;
  min-height: 650px;
  min-width: 600px;
  margin: auto;
  background: #FFF;
  border-radius: 2px;
  padding: 2%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4); }
  #signup-box #heading {
    margin: auto;
    margin-bottom: 5%;
    color: #0d3e69;
    font-weight: 800;
    font-size: 30px; }
  #signup-box form .credential {
    min-width: 300px;
    height: 75px; }
    #signup-box form .credential label {
      font-size: medium; }
    #signup-box form .credential input {
      height: 40px;
      width: 98%;
      margin-top: 1%;
      margin-bottom: 3%;
      border: none;
      border-bottom: 1px solid #cccccc;
      color: #0d3e69;
      font-size: 14px; }
  #signup-box form #birthday-wrapper {
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    height: 42px;
    min-width: 320px; }
    #signup-box form #birthday-wrapper select {
      height: 90%;
      width: 14%;
      background-color: white;
      border: 1px solid #b9b9b9;
      border-radius: 10px;
      text-align: center;
      padding-left: 2%; }
  #signup-box form #gender-container {
    border-radius: 10px;
    height: 42px;
    width: 50%;
    margin-top: 2%;
    margin-left: -2%;
    margin-bottom: 1.5%; }
    #signup-box form #gender-container section {
      height: 100%;
      width: 30%;
      display: inline-flex;
      justify-content: space-around;
      align-items: center; }
      #signup-box form #gender-container section label {
        color: #575757;
        font-size: medium; }
      #signup-box form #gender-container section input[type=radio] {
        width: 20%; }
  #signup-box form button {
    position: absolute;
    bottom: 2%;
    left: 5%;
    height: 42px;
    width: 90%;
    font-size: 15px;
    background: #0d3e69;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer; }
